@page
@model EmployeeManagementSite.Pages.EmployeePages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>
<form asp-page="./Index" class="class=" m-2 p-3 bg-light" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="SearchString" placeholder="Name or Job Title" value="@Model.CurrentFilter" />
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].YearOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
