@page
@model eBookStoreFE.Pages.Auth.LoginModel
@{
}
<h1 class="text-center">Login</h1>
<form method="post" class="m-2 p-3 bg-light">
    <div class="form-group">
        <label asp-for="@Model.UserInput.Email"></label>
        <input type="text" asp-for="@Model.UserInput.Email" class="form-control" />
        <span asp-validation-for="@Model.UserInput.Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.UserInput.Password"></label>
        <input type="password" asp-for="@Model.UserInput.Password" class="form-control" />
        <span asp-validation-for="@Model.UserInput.Password" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-primary" type="submit">Sign in</button>
    </div>
</form>